training_checkpoints
siameseModel.h5
siameseModel.tflite
flowers102
products_10k_test
products_10k_classes.csv
signatures
products_10k_train_50
products_10k_train_100
products_10k_train_197
good_models
best_fit.h5
final_model.h5